body {
  margin: 0px;
  text-align: center;
  /* font-family: "Merriweather", serif; */
  font-family: "Montserrat", sans-serif;
  background-color: #100F0F;
}

h1 {
  font-size: 5.6rem;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  color: #f1f1f1;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  color: #eaffd0;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #a5c9ca;
}

a {
  font-family: "Montserrat", sans-serif;
/*   text-decoration: none; */
  color: #11999e;
  line-height: 2;
}

a:hover {
  color: #e2dcc8;
}

p {
  color: #f7eddb;
  line-height: 2;
}

hr {
  margin-top: 5%;
  margin-bottom: 5%;
  border-style: none;
  border-top-style: dotted;
  border-color: #e2dcc8;
  border-width: 10px;
  width: 5%;
}

.head-h2 {
  color: #a5c9ca;
}

.bottom-container {
  margin: 20px;
}

.skill-row {
  line-height: 2;
}

.img-large {
  width: 25rem;
  border-radius: 10%;
}

.skills-img-in {
  clear: both;
  width: 12.5rem;
  border-radius: 10%;
}

.footer-logo {
  width: 2rem;
}

.footer-link {
  text-decoration: none;
}
span + span {
  margin-left: 2rem;
}
